@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-alt alert-dismissible" role="alert">
        <div class="alert-body">
            @Model
        </div>
    </div>
}
